
<% if @user %>

    <h1>List all ideas for <%= @user.username %></h1>


<% else %>

    <h1>ALL &nbsp &nbsp IDEAS</h1>

<% end %>


<% @ideas.each do |idea| %>
    USER: <%= link_to idea.user.username, user_ideas_path(idea.user) %></br>
    IDEA:<%= link_to idea.title,  idea_path(idea)%></br></br>

<% end %>



