

<h2>All users <% if @category %>for the category: <%= @category.label %><% end %></h2>

    <% if @category %>

        <% category_users = [] %>
        <% count = 0 %>
        <% @ideas.each do |idea| %>
            <% if idea.category == @category %>
                <% count += 1 %>
                <% category_users << idea.user %>
            <% end %>
        <% end %>

        <% category_users.uniq.each do |category_user| %>
            <%= link_to category_user.username, user_ideas_path(category_user) %></br></br>
        <% end %>

        <% if count == 0 %>There are no users for this category <% end %>

    <% else %>

        <% @users.each do |user| %>
            <%= user.username %></br></br>
        <% end %>

    <% end %>




