<h1>Hi, <%= current_user.username %>!</h1>
<h2>Click above to either create a new idea or list your current ideas.</h2>



<%= form_tag("/logout", method: 'delete') do %>
    <%= submit_tag "LOG-OUT" %>
<% end %>

</br></br>




