

<h2>All Resources<% if @idea %> for: <%= @idea.title %> <% end %><h2>

<h4>
<ul>
    <% @resources.each do |resource| %>
        <li><%= resource.source %></li></br>
    <% end %>
<ul>
</h4>

<% if @idea %><%= link_to "Click to add another resource", new_idea_resource_path(@idea) %><% end %>


