
<% if class_object.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(class_object.errors.count, "error") %> prohibited this from being saved:</h2>

  <ul>
  <% class_object.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
</div>
<% end %>
